<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <p>Welcome to Home Page</p>
  </body>
</html>
