<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel='stylesheet' href='../../public/css/home.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../public/js/home.js"></script>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <div class="spark-logo">
            <img src="../../assets/images/logo_sparktx.png" alt="spark logo">
        </div>
    </div>
</div>
<div class="main-body" align="center">
    <h1>Home Page</h1>
    <p>Welcome to Home Page</p>
    <select id="type">
        <option value="qPCR">TPP1 qPCR</option>
        <option value="wes">TPP1 Wes</option>
        <option value="nab">NAb</option>
    </select>
    <select id="option" name="option">
        <option value="QC Summary">QC Summary</option>
        <option value="Sample Result Summary">Sample Result Summary</option>
        <option value="Retest Summary">Retest Summary</option>
        <option value="QC Detail Summary">QC Detail Summary</option>
    </select>
    <form id="form" action="/upload/qPCRqc" method="post" enctype="multipart/form-data">
        <h2>upload</h2>
        <input type="file" name="excel" webkitdirectory directory>
        <input type="submit" value="start">
    </form>
    <h2>Check Result</h2>
    <a href="/qPCRqc">QC Summary</a><br>
    <a href="/qPCRraw">Raw</a><br>
    <a href="/qPCRretest">Retest</a><br>
    <a href="/qPCReachqc">Each QC</a><br>
    <a href="/wesLinearRegressionDataSummary">Wes Linear Regression</a><br>
    <a href="/wesStandardCurveDataSummary">Wes Standard Curve</a><br>
    <a href="/wesUpperandLowerBondSummary">Wes Upper and Lower Bond</a><br>
    <a href="/wesQCDataSummary">Wes QC Data</a><br>
    <a href="/wesSampleAnalysisDataSummary">Wes Sample Analysis Data</a><br>
    <a href="/nabDataSummary">NAb Data</a><br>
</div>
</body>
</html>
