<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[type=radio][name=operation]').change(function () {
                if ($(this).attr('id') == 'QC Summary') {
                    $('#form').attr('action', '/upload/qPCRqc');
                }
                else if ($(this).attr('id') == 'Raw') {
                    $('#form').attr('action', '/upload/qPCRraw');
                }
                else if ($(this).attr('id') == 'Retest') {
                    $('#form').attr('action', '/upload/qPCRretest');
                }
                else {
                    $('#form').attr('action', '/upload/qPCReachqc');
                }
            });
        });
    </script>
</head>
<body>
<h1>Home Page</h1>
<p>Welcome to Home Page</p>
<input type="radio" id="QC Summary" name="operation" checked/>
<label for="QC Summary">qPCR QC Summary</label>
<input type="radio" id="Raw" name="operation"/>
<label for="Raw">qPCR Sample Result Summary</label>
<input type="radio" id="Retest" name="operation"/>
<label for="Retest">qPCR Retest Summary</label>
<input type="radio" id="Each QC" name="operation"/>
<label for="Each QC">qPCR QC Detail Summary</label>
<form id="form" action="/upload/qPCRqc" method="post" enctype="multipart/form-data">
    <h2>upload</h2>
    <input type="file" name="excel" webkitdirectory directory>
    <input type="submit" value="start">
</form>
<a href="/qPCRqc">QC Summary</a><br>
<a href="/qPCRraw">Raw</a><br>
<a href="/qPCRretest">Retest</a><br>
<a href="/qPCReachqc">Each QC</a>
</body>
</html>
