<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel='stylesheet' href='../../public/css/home.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="../../public/js/home.js"></script>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <div class="spark-logo">
            <img src="../../assets/images/logo_sparktx.png" alt="spark logo">
        </div>
    </div>
</div>
<div class="main-body" align="center">
    <h1>Home Page</h1>
    <p>Please select the function you want to perform</p>
    <select id="type">
        <option value="qPCR">TPP1 qPCR</option>
        <option value="wes">TPP1 CSF Wes</option>
        <option value="nab">NAb</option>
    </select>
    <select id="option" name="option">
        <option value="QC Summary">QC Summary</option>
        <option value="Sample Result Summary">Sample Result Summary</option>
        <option value="Retest Summary">Retest Summary</option>
        <option value="QC Detail Summary">QC Detail Summary</option>
    </select>
    <form id="form" action="/upload/qPCRqc" method="post" enctype="multipart/form-data">
        <h2>Upload</h2>
        <input type="file" name="excel" webkitdirectory directory>
        <input type="submit" value="start" id="start">
    </form>
    <h2>Check Result</h2>
    <select id="jump">
        <option value="empty"></option>
        <option value="qPCR">TPP1 qPCR</option>
        <option value="wes">TPP1 CSF Wes</option>
        <option value="nab">NAb</option>
    </select>
    <select id="jump-option" onchange="window.location.href = this.value;">
    </select><br>
</div>
<div class="se-pre-con" id="wait"></div>
</body>
</html>
